<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= hero.source_id %>
  </p>

  <p>
    <strong>Ph:</strong>
    <%= hero.ph %>
  </p>

  <p>
    <strong>Mh:</strong>
    <%= hero.mh %>
  </p>

</div>
